

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Natillera.Api</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/EstilosMenu.css" />
    <link rel="stylesheet" href="~/lib/jqueryui/jquery-ui.min.css" />
    <link rel="stylesheet" href="https://kit.fontawesome.com/f9b2f7ab54.css" crossorigin="anonymous">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT"
          crossorigin="anonymous" />

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap" rel="stylesheet">
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">
    <style>
        .active {
            color: #fff !important;
        }
    </style>
</head>
<body id="body-pd">

    <header class="header shadow-sm" id="header" >
        <div class="header_toggle"> <i class='fa-solid fa-bars-staggered' id="header-toggle"></i> </div>
        <input style="display:none" value="@User.Identity.Name" id="id_img"></input>

        @*<div class="header_img">
                <img src="https://i.imgur.com/hczKIze.jpg" alt="">
         </div>*@
         @if (User.Identity.IsAuthenticated )
        {

            <nav class="menu">
                <section class="menu__container">
                    

                    <ul class="menu__links">
                        

                       

                        <li class="menu__item  menu__item--show">
                            <a href="#" class="menu__link"> @User.Identity.Name  <img src="~/images/arrows.svg" class="menu__arrow"></a>

                            <ul class="menu__nesting">
                                <div class="content_nesting">
                                <li class="menu__inside">
                                    <a href="#" class="menu__link menu__link--inside">
                                        <span class="icon_first_img">
                                            <img src="" class="imgprofile" id="imgprofile" />                                       
                                        </span>
                                        <span class="sp_title">@User.Identity.Name</span>
                                    </a>
                                </li>
                                <hr>
                                <li class="menu__inside">
                                    <a  class="menu__link menu__link--inside" asp-controller="Account" asp-action="ChangeUser">
                                        <span class="icon_first"><i class="fa-solid fa-user"></i></span>
                                        <span class="icon_text">Editar Perfil</span>
                                        <span class="icon_second">></span>
                                    </a>
                                </li>
                                <li class="menu__inside">
                                    <a class="menu__link menu__link--inside" asp-controller="Account" asp-action="ChangePassword">
                                        <span class="icon_first"><i class="fa-solid fa-unlock-keyhole"></i></span>
                                        <span class="icon_text">Cambiar Contraseña</span>
                                        <span class="icon_second">></span>
                                    </a>
                                </li>
                                <li class="menu__inside">
                                    <a  class="menu__link menu__link--inside" asp-controller="Account" asp-action="Logout">
                                        <span class="icon_first"><i class="fa-solid fa-right-from-bracket"></i></span>
                                        <span class="icon_text">Cerrar Sesión</span>
                                        <span class="icon_second">></span>
                                    </a>
                                </li>
                                <br>
                                </div>
                                
                            </ul>
                        </li>

                       

                    </ul>

                    
                </section>


            </nav>


          
        }
        else
        {
            <a class="nav_link_top" asp-area="" asp-controller="Account" asp-action="Login"> 
                Iniciar Sesión
            </a>
        }
        
 
    </header>
    <div class="l-navbar" id="nav-bar">

        @if (User.Identity.IsAuthenticated && User.IsInRole("Admin"))
        {
            <nav class="navs">
                <div>
                    <a href="#" class="nav_logo" >
                        <div class="header_img"> <img src="~/images/logonatillera.png" alt="" > </div>
                        <span class="nav_logo-name">Ahorro Digital</span>
                    </a>
                    <div class="nav_list" >

                        <a id="home" aria-describedby="tooltip" class="nav_link active" asp-area="" asp-controller="Home" asp-action="Index" data-aos="fade-up" data-aos-duration="1000">

                            <i class='fa-solid fa-house nav_icon' title="Inicio" data-bs-toggle="mensaje"></i>
                            <span class="nav_name">Inicio</span>
                        </a>






                        <a id="tc" class="nav_link" asp-area="" asp-controller="AccountTypes" asp-action="Index" data-aos="fade-up" data-aos-duration="1000">
                            <i class="fa-solid fa-money-check-dollar nav_icon" title="Tipos Cuentas Bancarias" data-bs-toggle="mensaje"></i>

                            <span class="nav_name">Tipos Cuentas B.</span>
                        </a>
                        <a id="td" class="nav_link" asp-area="" asp-controller="DocumentTypes" asp-action="Index" data-aos="fade-up" data-aos-duration="1000">
                            <i class='fa-solid fa-address-card nav_icon' title="Tipos Documentos" data-bs-toggle="mensaje"></i>
                            <span class="nav_name">Tipos Documentos</span>
                        </a>

                        <a id="ta" class="nav_link" asp-area="" asp-controller="SavingTypes" asp-action="Index" data-aos="fade-up" data-aos-duration="1000">

                            <i class="fa-solid fa-piggy-bank nav_icon" title="Tipos Ahorros" data-bs-toggle="mensaje"></i>
                            <span class="nav_name">Tipos Ahorros</span>
                        </a>

                        <a id="tp" class="nav_link" asp-area="" asp-controller="LoanTypes" asp-action="Index" data-aos="fade-up" data-aos-duration="1000">
                            <i class="fa-solid fa-credit-card nav_icon" title="Tipos Prestamos" data-bs-toggle="mensaje"></i>

                            <span class="nav_name">Tipos Prestamos</span>
                        </a>

                        <a id="user" class="nav_link" asp-area="" asp-controller="Users" asp-action="Index" data-aos="fade-up" data-aos-duration="1000">

                            <i class="fa-solid fa-users nav_icon " title="Usuarios" data-bs-toggle="mensaje"></i>
                            <span class="nav_name">Usuarios</span>
                        </a>

                        <a id="dashboard" class="nav_link" asp-area="" asp-controller="DashBoard" asp-action="Index" data-aos="fade-up" data-aos-duration="1000">

                            <i class="fa-solid fa-chart-line nav_icon " title="DashBoard" data-bs-toggle="mensaje"></i>
                            <span class="nav_name">DashBoard</span>
                        </a>





                    </div>
                </div>
            </nav>
        }
        else
       if (User.Identity.IsAuthenticated && User.IsInRole("User"))
        {
            <nav class="navs">
                <div>
                    <a href="#" class="nav_logo">
                        <div class="header_img"> <img src="~/images/logonatillera.png" alt=""> </div>
                        <span class="nav_logo-name">Ahorro Digital</span>
                    </a>
                    <div class="nav_list">

                        <a id="homes" aria-describedby="tooltip" class="nav_link active" asp-area="" asp-controller="Home" asp-action="Index" data-aos="fade-up" data-aos-duration="1000">

                            <i class='fa-solid fa-house nav_icon' title="Inicio" data-bs-toggle="mensaje"></i>
                            <span class="nav_name">Inicio</span>
                        </a>


                        <a id="ahr" class="nav_link " asp-area="" asp-controller="Users" asp-action="MySavings" data-aos="fade-up" data-aos-duration="1000">

                            <i class="fa-solid fa-money-bill-1 nav_icon" title="Ahorros" data-bs-toggle="mensaje"></i>
                            <span class="nav_name">Ahorros</span>
                        </a>
                        <a id="pre" class="nav_link" asp-area="" asp-controller="Users" asp-action="MyLoans" data-aos="fade-up" data-aos-duration="1000">

                            <i class="fa-solid fa-credit-card nav_icon" title="Prestamos" data-bs-toggle="mensaje"></i>
                            <span class="nav_name">Prestamos </span>
                        </a>


                        }




                    </div>
                </div>
            </nav>

        }
    </div>

    <div class=" container  mb-5">
        <main role="main" class="pb-3">

            @RenderBody()
        </main>
       
    </div>
     
  
    <footer>

        <div class="container__footer">
            <div class="box__footer">
                <div class="logof" data-aos="fade-up" data-aos-duration="2000">
                    <img src="~/images/logonatillera.png" alt="">
                </div>

            </div>
            <div class="box__footer box-menu" data-aos="fade-up" data-aos-duration="2000">
                <h2>Ahorro Digital</h2>
                <a href="#quienssomos">Ahorra y obten grandes beneficios.</a>

            </div>

            <div class="box__footer" data-aos="fade-up" data-aos-duration="2000">
                <h2>Redes Sociales</h2>
                <a href="#"> <i class="fab fa-facebook-square"></i> Facebook</a>
                <a href="#"><i class="fa-brands fa-square-whatsapp"></i> WhatsApp</a>
                <a href="#"><i class="fab fa-linkedin"></i> Linkedin</a>
                <a href="#"><i class="fab fa-instagram-square"></i> Instagram</a>
            </div>

        </div>

        <div class="box__copyright">
            <hr>
            <p>Todos los derechos reservados © 2023 <b>Alejandro Galeano</b></p>
        </div>
    </footer>

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/Menu.js"></script>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    <script src="~/lib/jquery-ui/jquery-ui.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/f9b2f7ab54.js" crossorigin="anonymous"></script>
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js"
            integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8"
            crossorigin="anonymous"></script>
    
    <script>
        AOS.init();
        
    </script>
    <script>
        var tooltipTriggerList=[].slice.call(document.querySelectorAll('[data-bs-toggle="mensaje"]'))
        var tooltipList = tooltipTriggerList.map(function (tooltipTriggerEl){
            return new bootstrap.Tooltip(tooltipTriggerEl)
        });
       
      
    </script>
    <script>

        window.addEventListener('load', function () {



            debugger;


            $.ajax({
                type: 'POST',
                url: '@Url.Action("GetImagenes")',
                dataType: 'json',
                data: { Email: $("#id_img").val() },
                success: function (states) {

                    document.getElementById('imgprofile').src = states.slice(0, 1);

                },
                error: function (ex) {

                    document.getElementById('imgprofile').src = "http://localhost:5047/images/users/noimages.png";
                    alert('Failed to retrieve Interes.' + ex);
                }
            });
            return false;


        });

    </script>
   
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
